
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta name="keywords" content="仓储管理系统" />
    <meta name="description" content="仓储管理系统" />
    <link href="~/bootsrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootsrap/bootstrap.css" rel="stylesheet" />
    @*<link href="/Theme/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/Theme/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/Theme/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/Theme/css/themes/default.css" rel="stylesheet" type="text/css" />
    <link href="/Theme/plugins/jbox-v2.3/jBox/Skins/Gray/jbox.css" rel="stylesheet" type="text/css" />*@
</head>

<body class="fixed-top">
    <div style="width:1772px;height:803px;border:1px solid red;margin:0px auto"> 
         <div></div>
    </div>
</body>
</html>
<script src="~/Script/jquery-3.3.1.min.js"></script>
<script src="~/Script/bootstrap.js"></script>